@import '~antd/es/style/themes/default';

.title {
  && {
    font-size: 4.8rem;

    @media only screen and (max-width: @screen-md) {
      font-size: 3.2rem;
    }
  }
}

.examplar {
  color: @primary-color;
}
