@import "../../custom";

#home-page-title {
  font-size: 4.7rem;

  @media only screen and (max-width: @screen-md) {
    font-size: 3.2rem;
  }
}

#home-page-content {
  margin-top: 10%;
}

#home-page-subtitle {
  margin-bottom: @form-item-margin-bottom;
}