@import '../../../node_modules/antd/es/style/themes/default';

.title {
  &&& {
    font-size: 6.5vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}

.description {
  &&& {
    font-weight: 600;
    font-size: 1.9vw;
  }
}
