@import '~antd/es/style/themes/default';
@import "~antd/lib/style/color/colors";

@navbar-padding-side: @padding-md;

.navbar {
  background-color: white;
  box-shadow: @shadow-1-down;
  padding: 0;
}

.navbarBody {
  width: 90%;
  margin: auto;
}

.logo {
  user-select: none;
  font-size: 27px;
  font-weight: 700;
}

.loginButton {
  margin-right: @padding-md;

  @media only screen and (max-width: @screen-sm) {
    margin-right: @padding-sm;
  }

  @media only screen and (max-width: @screen-xs) {
    margin-right: @padding-xs;
  }
}
