@import "../../../custom";

#exam-page-sider {
  height: 100%;
  width: 100%;
  border-right: 1px solid @gray;
}

#exam-page-sider-menu {
  border: none;
}

.exam-page-sider-btn {
  display: block;
  margin: auto;
}